<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pong</title>
	{% comment %} <link href="{% static 'index.css' %}" rel="stylesheet"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'pages/pages.css'%}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/pages.css'%}">


	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	<link href="{% static 'pong.svg' %}" rel="shortcut icon" type="image/svg"/>
</head>
<body>
	{% csrf_token %}
	<h1 id="Title">Pong Game</h1>
	<button class="PvP Button" ">Player vs Player</button>
	<button class="PvA Button" ">Player vs AI</button>
	<button class="Start Button" ">Start Game</button>
	<button class="Easy Difficulty" ">Easy</button>
	<button class="Medium Difficulty" ">Medium</button>
	<button class="Hard Difficulty" ">Hard</button>
	<script>
		const dns = "{{ dns|escapejs }}";
	</script>
	<script src="{% static 'index.js' %}" defer></script>
</body>
</html>