<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pong</title>
	<link href="{% static 'pong.css'%}" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/x-icon" href="{% static 'pong.svg'%}">
</head>
<body>
	<!-- <h1>PONG</h1> -->
	<canvas id="canvas"></canvas>
	<h1 id="player1Score">0</h1>
	<h1 id="player2Score">0</h1>
	<h1 id="player1Name">{{ ply.0.username }}</h1>
	<h1 id="player2Name">{{ ply.1.username }}</h1>
	<h1 id="waitingForPlayers">Waiting for players...</h1>
	<script src="{% static 'pong.js'%}" defer></script>
    {{ room_name|json_script:"room-name" }}
    <script>
        // const roomSocket = new WebSocket(
        // 	'ws://'
        // 	+ window.location.host
        // 	+ '/ws'
        // 	+ window.location.pathname
        // );
        // roomSocket.onmessage = function(e) {
        //     const data = JSON.parse(e.data);
        //     console.log('data.message: ', data.message);
        // };

        // roomSocket.onclose = function(e) {
        //     console.error('Chat socket closed unexpectedly');
        // };
    </script>
</body>
</html>