<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pong</title>
	{% comment %} <link href="{% static 'pong.css'%}" rel="stylesheet" type="text/css">  {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'pages/pages.css'%}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/pages.css'%}">


	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/x-icon" href="{% static 'pong.svg'%}">
</head>
<body>
	{% csrf_token %}
	<!-- <h1>PONG</h1> -->
	<canvas id="canvas"></canvas>
	<h1 id="player1Score">0</h1>
	<h1 id="player2Score">0</h1>
	<h1 id="player1Name"></h1>
	<h1 id="player2Name"></h1>
	<h1 id="waitingForPlayers">Waiting for players...</h1>
	<h1 id="comptearebour"></h1>
	<div id="result"></div>
	<a href="/" class="Button" id="backtopong" data-link>Back to the menu</a>
	<script src="{% static 'pong.js'%}" defer></script>
</body>
</html>