body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #585481;
	color: #FFFBFC;
}

#board {
	width: 30vw;
    height: 57vh;

	margin : 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.tile {
	width: 3vw;
	height: 6vh;

	border : 1px solid #C1BDE9;
	z-index: 1;

	/* Text */
	margin : 1 auto;
	font-size: 2em;
	background-color: #726DA8;
	font-weight: normal;
	display: flex;
	color: #FFFBFC;
	justify-content: center;
	align-items: center;
}

#digits {
	width: 45vw;
	height: 5vw;

	margin: 0 auto;
	/* border : 1px solid #FFFBFC; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.number {
    width: 3vw;
    height: 3vw;
    border: 2px solid #FFFBFC;
    font-size: 2em;
    margin: 2px;
    color: #FFFBFC;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
}

.number-selected {
	background-color: gray;
}

.tile-start {
	background-color: #726DA8;
}

.horizontal-line {
	border-bottom: 4px solid #FFFBFC;
	z-index: 2;
}

.vertical-line {
	border-right: 4px solid #FFFBFC;
	z-index: 2;
}

.horizontal-top-line {
	border-top: 4px solid #FFFBFC;
	z-index: 2;

}

.horizontal-bottom-line {
	border-bottom: 4px solid #FFFBFC;
	z-index: 2;
}

.vertical-left-line {
	border-left: 4px solid #FFFBFC;
	z-index: 2;
}

.vertical-right-line {
	border-right: 4px solid #FFFBFC;
	z-index: 2;
}

.corner-top-left {
	border-radius: 20% 0% 0% 0%;
}

.corner-top-right {
	border-radius: 0% 20% 0% 0%;
}

.corner-bottom-left {
	border-radius: 0% 0% 0% 20%;
}

.corner-bottom-right {
	border-radius: 0% 0% 20% 0%;
}

.outer-line {
	z-index: 2;
	position: relative;
}

.tile-selected {
	background-color: #FFD700;
}

.tile-highlight {
    background-color: #d3d3d3; /* Couleur gris clair pour la mise en évidence */
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1000; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	color:#FFFBFC;
	background-color: #726DA8;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	max-width: 400px;
	text-align: center;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#play-again {
	padding: 10px 20px;
	background-color: #585481;
	color: white;
	border: none;
	cursor: pointer;
}

#play-again:hover {
	background-color: #C1BDE9;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #726DA8;
	text-align: left;
	font-family: "Oswald", sans-serif;
	z-index: 0;
}

.background-text {
    position: fixed;
    bottom: -6%;
    left: 0;
    font-size: 30vw; /* Adjust size as needed */
    font-family: 'Oswald', sans-serif; /* Font as per your design */
    color: rgba(19, 17, 18, 0.3); /* White color with transparency */
    z-index: 0;
    pointer-events: none; /* Makes sure the text does not interfere with user interaction */
    margin: 0%;
	padding: 0%;
	text-align: left;
}

.header-band {
    display: flex; /* Flexbox layout */
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Center items vertically */
    background-color: #585481; /* Match your background color */
    padding: 10px 20px; /* Adjust padding for spacing */
    color: #FFFBFC; /* Dark text color */
    font-family: 'Oswald', sans-serif; /* Match the font */
	font-size: 2.5vw;
}

.header-band .left,
.header-band .center,
.header-band .right {
    flex: 1; /* Make each section flexible */
}

.header-band .center {
    text-align: center; /* Center text */
}

.header-band .left {
    text-align: left; /* Left align text */
}

.header-band .right {
    text-align: right; /* Right align text */
}
