/* .index-body-login {
    background-color: #FFFBFC;
    color: #131112;
    overflow: hidden;
    font-family: Oswald;
    margin: 0;
    padding: 0;
} */

    
.title-login-half {
    background-color: #FFB140;
    width: 50%;
    height: 100vh;
    float:left;
    display: flex;
    /* justify-content: center; */
}

.title-login {
    font-family: Oswald;
    font-weight: 400;
    /* margin: -15vh -2vw; */
    /* align-self: end; */
    align-content: center;
    font-size: 17em;
    padding: 2vw;
    margin-left: 3vw;
}

.register-login {
    position: absolute;
    bottom: 2vh;
    left: 5vw;
}

.form-login-half {
    background-color: #FFFBFC;
    width:50%;
    height: 100vh;
    float:left;
}

.form-login:focus {
    border: none;
}

.form-login {
    display: flex;
    padding: 10vw;
    padding-top: 21vh;
    align-content: flex-start;
    flex-direction: column;
    margin: 11% 0%;
}

.form-control {
    margin: 2vh;
    PADDING: 1.5vh;
    padding-left: 2vh;
    border-radius: 12px;
    border: none;
    background-color: #D9D9D9;
    width: 35vw;
    align-self: center;
    font: 1.3rem oswald;
}

.form-control::placeholder {
    color: #b7b9bd;
}

.form-control:focus {
    border: none;
    outline: none;
}


.code-btn {
    background-color: #2E2C2F;
    color: #FFFBFC;
    margin-top: 2vh;
    align-self: center;
    width: 20vw;
    height: 8vh;
    border-radius: 12px;
    font: 2.3rem oswald;
}