/* .index-body {
    background-color: #FFFBFC;
    color: #131112;
    overflow: hidden;
    font-family: Oswald;
    margin: 0;
    padding: 0;
} */

.title-register-half {
    background-color: #F08080;
    width: 50%;
    height: 100vh;
    float:left;
    display: flex;
    /* justify-content: center; */
}

.title-register {
    font-family: Oswald;
    font-weight: 400;
    /* margin: -15vh -2vw; */
    /* align-self: end; */
    align-content: center;
    font-size: 17em;
    padding: 2vw;
    margin-left: 3vw;
}

.register-login {
    position: absolute;
    bottom: 2vh;
    left: 5vw;
}

.form-register-half {
    background-color: #FFFBFC;
    width:50%;
    height: 100vh;
    float:left;
}

.form-register:focus {
    border: none;
}

.form-register {
    display: flex;
    padding: 10vw;
    align-content: flex-start;
    flex-direction: column;
}

.form-control {
    margin: 2vh;
    PADDING: 1.5vh;
    padding-left: 2vh;
    border-radius: 12px;
    border: none;
    background-color: #D9D9D9;
    width: 35vw;
    align-self: center;
    font: 1.3rem oswald;
}

.form-control::placeholder {
    color: #b7b9bd;
}

.form-control:focus {
    border: none;
    outline: none;
}

.btn {
    background-color: #2E2C2F;
    color: #FFFBFC;
    height: 10vh;
    width: 38vw;
    align-self: center;
    border-radius: 12px;
    margin-top: 5vh;
    font: 2.3rem oswald;
}

.error-container {
    padding-left: 2vh;
    width: 37vw;
    align-self: center;
    font: 1rem oswald;
    color: rgb(248, 51, 60, 70%);
}

.error {
    height: 2.6vh;
}