body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #585481;
}

hr {
	width: 50vw;
}

#errors {
	color: #FF3150;
}

#board {
	width: 30vw;
    height: 57vh;

	margin : 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.tile {
	width: 3vw;
	height: 6vh;

	border : 1px solid #C1BDE9;

	/* Text */
	margin : 1 auto;
	font-size: 2em;
	background-color: #726DA8;
	font-weight: normal;
	display: flex;
	color: #FFFBFC;
	justify-content: center;
	align-items: center;
}

#digits {
	width: 45vw;
	height: 5vw;

	margin: 0 auto;
	/* border : 1px solid #FFFBFC; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.number {
    width: 3vw;
    height: 3vw;
    border: 2px solid #FFFBFC;
    font-size: 2em;
    margin: 2px;
    color: #FFFBFC;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7%;
}

.number-selected {
	background-color: gray;
}

.tile-start {
	background-color: #726DA8;
}

.horizontal-line {
	border-bottom: 4px solid #FFFBFC;
}

.vertical-line {
	border-right: 4px solid #FFFBFC;
}

.horizontal-top-line {
	border-top: 4px solid #FFFBFC;
}

.horizontal-bottom-line {
	border-bottom: 4px solid #FFFBFC;
}

.vertical-left-line {
	border-left: 4px solid #FFFBFC;
}

.vertical-right-line {
	border-right: 4px solid #FFFBFC;
}

.corner-top-left {
	border-radius: 10% 0% 0% 0%;
}

.corner-top-right {
	border-radius: 0% 10% 0% 0%;
}

.corner-bottom-left {
	border-radius: 0% 0% 0% 10%;
}

.corner-bottom-right {
	border-radius: 0% 0% 10% 0%;
}
