<!-- templates/sudoku.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
	<title>Sudoku</title>
	<link href="{% static 'css/sudoku.css' %}" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	<link href="{% static 'Sudoku.svg' %}" rel="shortcut icon" type="image/svg"/>

	<script>
		let board = JSON.parse('{{ board|escapejs }}');
		let startTime = new Date('{{ start_time }}');
	</script>
	<script type="module" src="{% static 'js/sudoku.js' %}" defer></script>
</head>

<body>
	<h1>Sudoku</h1>
	<div id="timer">00:00:00</div>
	<input type="hidden" id="room-name" value="{{ room_url }}">
	<br>

	<!-- 9x9 board -->
	<div id="board"></div>
	<br>
	<div id="digits"></div>
	<!-- Modal HTML -->
	<div id="game-result-modal" class="modal">
		<div class="modal-content">
			<span id="close-modal" class="close">&times;</span>
			<h2 id="result-title"></h2>
			<p id="result-message"></p>
			<button id="play-again">Play Again</button>
		</div>
	</div>
</body>
</html>
