<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sudoku</title>

	<!-- Bootstrap CSS -->
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
		crossorigin="anonymous"
	/>

	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	<link href="{% static 'Sudoku.svg' %}" rel="shortcut icon" type="image/svg"/>
	<!-- <link rel="stylesheet" type="text/css" href="/static/pages/pages.css"> -->
    <link rel="stylesheet" type="text/css" href="https://{{ DNS }}:8083/sudokubattle/static/pages/pages.css?request_by=Home">
	<!-- <meta name="csrf-token" content="{{ csrf_token }}"> -->
</head>
<body>
	{% csrf_token %}
	<div class="main_text">
		<h1>Waiting for an opponent...</h1>
	</div>
</body>
</html>
