body {
    overflow: hidden;
}

.index-body {
    background-color: #62BBC1;
    color: #131112;
    overflow: hidden;
    width: 100vw;
    padding: 1vh 3vw;
    width: 94vw;
}

a {
    color: #131112;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #131112;
    cursor: pointer;
    text-decoration: none;
}

.index-game-title {
  font-family: Oswald;
  font-weight: 400;
  align-self: end;
  display: block;
  font-size: 2em;
  height: 28vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}



.index-game-titles-container {
}

.index-page-layout {
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 15vh;
}

.scaled-sudoku {
    /* transition: transform 0.3s ease, margin 0.3s ease; Smooth transition */
    -webkit-transform: scale(1, 1.8); /* Safari and Chrome */
    -moz-transform: scale(1, 1.8); /* Firefox */
    -ms-transform: scale(1, 1.8); /* IE 9 */
    -o-transform: scale(1, 1.8); /* Opera */
    transform: scale(1, 1.8); /* Standard */
    margin-bottom: -4vh;
}

.shrunken-sudoku {
    /* transition: transform 0.3s ease, margin 0.3s ease; Smooth transition */
    -webkit-transform: scale(1, 0.2); /* Safari and Chrome */
    -moz-transform: scale(1, 0.2); /* Firefox */
    -ms-transform: scale(1, 0.2); /* IE 9 */
    -o-transform: scale(1, 0.2); /* Opera */
    transform: scale(1, 0.2); /* Standard */
}

.scaled-pong {
    /* transition: transform 0.3s ease, margin 0.3s ease; Smooth transition */
    -webkit-transform: scale(1, 1.8); /* Safari and Chrome */
    -moz-transform: scale(1, 1.8); /* Firefox */
    -ms-transform: scale(1, 1.8); /* IE 9 */
    -o-transform: scale(1, 1.8); /* Opera */
    transform: scale(1, 1.8); /* Standard */    
}

.shrunken-pong {
    /* transition: transform 0.3s ease, margin 0.3s ease; Smooth transition */
    -webkit-transform: scale(1, 0.2); /* Safari and Chrome */
    -moz-transform: scale(1, 0.2); /* Firefox */
    -ms-transform: scale(1, 0.2); /* IE 9 */
    -o-transform: scale(1, 0.2); /* Opera */
    transform: scale(1, 0.2); /* Standard */
    margin-bottom: -26vh;
}

.index-main-container {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin-bottom: 2vh;
}

.index-logo {
  height: 45vh;
  margin-bottom: 25vh;
  margin-right: 5vw;
}

.navbar{
    width: 100%;
}

.art-marg {
    height: 2vh;
}

.auth-link {
    text-decoration: underline;
}

.disconnect, .profile{
    position: absolute;
    right: -100%;
    border-radius: 11px 0 0 11px;
    width: 13vw;
    font-size: 1.2vw;
    height: 6vh;
    align-content: center;
    padding-left: 3vw;
    background-color: #b0dbdf;
    transition: right 0.7s ease-in-out;
}

.disconnect {
    top: 75px;
}

.profile {
    top: 140px;
}

.user-present:hover .disconnect {
    right: -3vw;
    cursor: pointer;
}

.user-present:hover .profile {
    right: -3vw;
    cursor: pointer;
}

.art-marg {
    height: 2vh;
}

.user-present:hover .disconnect {
    right: -3vw;
    cursor: pointer;
	overflow: hidden;
}
  
.auth-link {
    text-decoration: underline;
}

.loader {
	display: none;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
  background-color:#62BBC1;
  display: flex  /* -webkit-box-shadow: 0px 0px 8px #131112; */;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}
  
.container {
  position: absolute;
  width: 200px;
  height: 100px;
  margin: auto;
  top:0; bottom:0; left:0; right:0;
}

.loading {
  position: absolute;
  font-family: Oswald;
  font-weight: 400;
  color: #131112;
  width: 55px;
  height: 10px;
  margin: auto;
  left:0; right:0;
  top:0; bottom:0; 
  -webkit-animation: flash 0.75s infinite alternate linear;
  animation: flash 0.75s infinite alternate linear;
}

.paddle {
  position: absolute;
  display: inline-block;  
  background-color: #131112;
  margin: auto;
  top:auto; bottom:0;
  left: 0;
  width: 9px;
  height: 80px;
  border-radius: 10px;
  -webkit-animation: slide 1.2s 0.2s infinite alternate linear;
  animation: slide 0.8s 0.2s infinite alternate linear;
}
.paddle#right {
  top:0; bottom:auto;
  left:auto; right: 0;
  -webkit-animation: slide2 1s infinite alternate linear;
  animation: slide2 1s infinite alternate linear;
}

.ball {
  position: absolute;
  background-color:  #131112;
  filter: brightness(150%);
  width: 10px;
  height: 10px;
  margin: 8px;
  bottom:10px; left:0;
  border-radius: 50%;
  -webkit-animation: pong 1.5s infinite alternate linear;
  animation: pong 1.5s infinite linear;
}

@-webkit-keyframes slide {
  0%{
    bottom:40px;
  }
  45%{
    bottom:0px;
  }
  67%{
    bottom:60px;
  }
  100%{
    bottom:40px;
  }
}
@-keyframes slide {
  0%{
    bottom:40px;
  }
  45%{
    bottom:0px;
  }
  67%{
    bottom:60px;
  }
  100%{
    bottom:40px;
  }
}
@-webkit-keyframes slide2 {
  0%{
    top:20px;
  }
  45%{
    top:0px;
  }
  67%{
    top:60px;
  }
  100%{
    top:20px;
  }
}
@-keyframes slide2 {
  0%{
    top:20px;
  }
  45%{
    top:0px;
  }
  67%{
    top:60px;
  }
  100%{
    top:20px;
  }
}

@-webkit-keyframes pong {
  0%{
    bottom:40px;
    left: 0;
  }
  30%{
    bottom:-10px;
    left:150px;
  }
  45%{
    bottom:40px;
    left:170px;
  }
  70%{
    bottom:80px;
    left:80px;
  }
  100%{
    bottom:40px;
    left: 0;
  }
}
@-keyframes pong {
  0%{
    bottom:20px;
    left: 0;
  }
  30%{
    bottom:-10px;
    left:150px;
  }
  45%{
    bottom:40px;
    left:170px;
  }
  70%{
    bottom:80px;
    left:80px;
  }
  100%{
    bottom:20px;
    left: 0;
  }
}

@-webkit-keyframes flash {
  0%{
    opacity:0.2;
  }
  100%{
    opacity:1;  
  }
}