body {
    overflow: hidden;
}

.index-body {
  background-color: #62BBC1;
  color: #131112;
  overflow: hidden;
  width: 100vw;
  padding: 1vh 3vw;
  width: 94vw;
}

a {
    color: #131112;
    cursor: pointer;
    text-decoration: none;
}
body {
  overflow: hidden;
}

.index-body {
background-color: #62BBC1;
color: #131112;
overflow: hidden;
width: 100vw;
padding: 1vh 3vw;
width: 94vw;
}

a {
  color: #131112;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #131112;
  cursor: pointer;
  text-decoration: none;
}

.index-main-container {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  margin-bottom: 2vh;
}

.index-logo {
  height: 45vh;
  margin-bottom: 10vh;
  margin-right: 5vw;
}

.art-marg {
  height: 2vh;
}

.auth-link {
  text-decoration: underline;
}

.disconnect, .profile{
  position: absolute;
  right: -100%;
  border-radius: 11px 0 0 11px;
  width: 13vw;
  font-size: 1.2vw;
  height: 6vh;
  align-content: center;
  padding-left: 3vw;
  background-color: #b0dbdf;
  transition: right 0.7s ease-in-out;
}

.disconnect {
  top: 75px;
}

.profile {
  top: 140px;
}

.user-present:hover .disconnect {
  right: -3vw;
  cursor: pointer;
}

.user-present:hover .profile {
  right: -3vw;
  cursor: pointer;
}

.art-marg {
  height: 2vh;
}

.user-present:hover .disconnect {
  right: -3vw;
  cursor: pointer;
overflow: hidden;
}

.auth-link {
  text-decoration: underline;
}

a:hover {
    color: #131112;
    cursor: pointer;
    text-decoration: none;
}

.index-main-container {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin-bottom: 2vh;
}

.index-logo {
    height: 45vh;
    margin-bottom: 10vh;
    margin-right: 5vw;
}

.art-marg {
    height: 2vh;
}

.auth-link {
    text-decoration: underline;
}

.disconnect, .profile{
    position: absolute;
    right: -100%;
    border-radius: 11px 0 0 11px;
    width: 13vw;
    font-size: 1.2vw;
    height: 6vh;
    align-content: center;
    padding-left: 3vw;
    background-color: #b0dbdf;
    transition: right 0.7s ease-in-out;
}

.disconnect {
    top: 75px;
}

.profile {
    top: 140px;
}

.user-present:hover .disconnect {
    right: -3vw;
    cursor: pointer;
}

.user-present:hover .profile {
    right: -3vw;
    cursor: pointer;
}

.art-marg {
    height: 2vh;
}

.user-present:hover .disconnect {
    right: -3vw;
    cursor: pointer;
	overflow: hidden;
}
  
.auth-link {
    text-decoration: underline;
}
