body {
	background-color: #585481;
	overflow: hidden;
	margin: 0 auto;
}

.Button {
	width: 20vw;
	height: 10vh;
	border: 2px solid #FFFBFC;
	background-color: #585481;
	color: #FFFBFC;
	border-radius: 10vw;
	text-align: center;
	font-size: 5vh;
	font-family: "Oswald", sans-serif;
	position: absolute;
	transition-duration: 0.4s;
	cursor: pointer;
	z-index: 1;
}

.Button:hover {
	border: 2px solid #FFFBFC;
	background-color: #FFFBFC;
	color: #726DA8;
	cursor: pointer;
	z-index: 1;
}

.PvP {
	left: 20vw;
	top: 35vh;
	z-index: 1;
}

.Solo {
	right: 20vw;
	top: 35vh;
	z-index: 1;
}

.Start {
	bottom: 25vh;
	left: 39vw;
	z-index: 1;
}

.Difficulty {
	font-size: 3vh;
	font-family: "Oswald", sans-serif;
	color: #FFFBFC;
	background-color: #585481;
	width: 6vw;
	height: 7vh;
	text-align: center;
	transition-duration: 0.2s;
	border: none;
	position: absolute;
	cursor: pointer;
	display: none;
	z-index: 1;
}

.Easy {
	right: 60vw;
	top: 49vh;
	z-index: 1;
}

.Medium {
	right: 50vw;
	top: 49vh;
	z-index: 1;
}

.Hard {
	right: 37vw;
	top: 49vh;
	z-index: 1;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #726DA8;
	text-align: left;
	font-family: "Oswald", sans-serif;
	z-index: 0;
}

.background-text {
    position: fixed;
    bottom: -6%;
    left: 0;
    font-size: 30vw; /* Adjust size as needed */
    font-family: 'Oswald', sans-serif; /* Font as per your design */
    color: rgba(19, 17, 18, 0.3); /* White color with transparency */
    z-index: 0;
    pointer-events: none; /* Makes sure the text does not interfere with user interaction */
    margin: 0%;
	padding: 0%;
	text-align: left;
}

.header-band {
    display: flex; /* Flexbox layout */
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Center items vertically */
    background-color: #585481; /* Match your background color */
    padding: 10px 20px; /* Adjust padding for spacing */
    color: #FFFBFC; /* Dark text color */
    font-family: 'Oswald', sans-serif; /* Match the font */
	font-size: 2.5vw;
}

.header-band .left,
.header-band .center,
.header-band .right {
    flex: 1; /* Make each section flexible */
}

.header-band .center {
    text-align: center; /* Center text */
}

.header-band .left {
    text-align: left; /* Left align text */
}

.header-band .right {
    text-align: right; /* Right align text */
}
