body {
	background-color: #53917E;
	overflow: hidden;
	margin: 0 auto;
}

#Title {
	color: #FFFBFC;
	position: absolute;
	left: 35vw;
	width: 30vw;
	height: 10vh;
	top: 5vh;
	text-align: center;
	font-size: 5vh;
	font-family: "Oswald", sans-serif;
	cursor: default;
}

.Button {
	width: 20vw;
	height: 10vh;
	border: 2px solid #FFFBFC;
	background-color: #53917E;
	color: #FFFBFC;
	border-radius: 10vw;
	text-align: center;
	font-size: 5vh;
	font-family: "Oswald", sans-serif;
	position: absolute;
	transition-duration: 0.4s;
	cursor: pointer;
}

.Button:hover {
	border: 2px solid #FFFBFC;
	background-color: #FFFBFC;
	color: #53917E;
	cursor: pointer;
}

.PvP {
	left: 20vw;
	top: 25vh;
}

.PvA {
	right: 20vw;
	top: 25vh;
}

.LocalP {
	right: 20vw;
	bottom: 35vh;
}

.Tournament
{
	left: 20vw;
	bottom: 35vh;
}

.Start {
	bottom: 13vh;
	left: 40vw;
}

.Difficulty {
	font-size: 3vh;
	font-family: "Oswald", sans-serif;
	color: #FFFBFC;
	background-color: #53917E;
	width: 6vw;
	height: 7vh;
	text-align: center;
	transition-duration: 0.2s;
	border: none;
	position: absolute;
	cursor: pointer;
	display: none;
}

.Easy {
	right: 33.5vw;
	top: 40vh;
}

.Medium {
	right: 27.5vw;
	top: 40vh;
}

.Hard {
	right: 21.5vw;
	top: 40vh;
}