{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{% static 'pages/pages.css'%}">
</head>
<body class="index-body">
    
    <div class="navbar">
        <div class="navbar-content"><img class=" navbar-logo" src="{% static 'pages/Group.svg' %}" alt="Logo"></div>
        <div class="navbar-content">HOME</div>
        <div class="navbar-content">LOGIN</div>
    </div>

    {% block content %}{% endblock %}
</body>
</html>