{%extends "pages/base.html" %}
{% load static %}
{% block content %}
<script src="{% static 'pages/index/js/hover_sudoku.js' %}"></script>
<script src="{% static 'pages/index/js/hover_pong.js' %}"></script>

<div class="index-page-layout">
    <div class="index-main-container">
        <div class="index-game-titles-container" >
            <a href="{% url 'base-home' %}" class="index-game-title index-pong"><img src="{% static 'pages/PONG.svg' %}" alt="PONG"></a>
            <a href="{% url 'base-home' %}" class="index-game-title index-sudoku"><img src="{% static 'pages/SUDOKU.svg' %}" alt="SODUKU"></a>
        </div>
        <div class="index-game-title">
            <img class=" index-logo" src="{% static 'pages/Group.svg' %}" alt="Logo">
        </div>
    </div>
</div>

{% endblock content %}

<!-- <a href="{% url 'base-home' %}" class="index-game-title index-sudoku"><img src="{% static 'pages/SUDOKU.svg' %}" alt="SODUKU"> -->
