.navbar {
    width: 94vw;
<<<<<<< HEAD
    padding-left: 3vw;
=======
    /* padding-left: 3vw;
<<<<<<< HEAD
>>>>>>> c42d4b4 (🚧 feat: navbar prototype)
    padding-right: 3vw;
<<<<<<< HEAD
=======
    padding-top: 1vh; */
    padding-left: 3vw;
=======
>>>>>>> 8303d39 (🚧 feat: navbar prototype)
    padding-right: 3vw;
<<<<<<< HEAD
>>>>>>> 7bca8e6 (ajusted speeds)
    padding-top: 1vh;
=======
    padding-top: 1vh; */
>>>>>>> c42d4b4 (🚧 feat: navbar prototype)
    display: flex;
    justify-content: space-between;
}

a .navbar{
    color: #131112;
    cursor: pointer;
    text-decoration: none;
}


.navbar-content {
    font-family: Oswald;
    font-size: 2.5vw;
}


.navbar-logo {
    height: 3vw;
}