.navbar {
    width: 94vw;
    padding-left: 3vw;
    padding-right: 3vw;
<<<<<<< HEAD
=======
    padding-top: 1vh; */
    padding-left: 3vw;
    padding-right: 3vw;
>>>>>>> 7bca8e6 (ajusted speeds)
    padding-top: 1vh;
    display: flex;
    justify-content: space-between;
}

a .navbar{
    color: #131112;
    cursor: pointer;
    text-decoration: none;
}


.navbar-content {
    font-family: Oswald;
    font-size: 2.5vw;
}


.navbar-logo {
    height: 3vw;
}