{%extends "pages/base.html" %}
{% block content %}
{% load static %}

    {% comment %} <script src="{% static 'pages/index/js/hover_sudoku.js' %}"></script>
    <script src="{% static 'pages/index/js/hover_pong.js' %}"></script> {% endcomment %}
    
    <script type="module" src="{% static 'pages/index/views/abstractviews.js' %}"></script>
    <script type="module" src="{% static 'pages/index/views/home.js' %}"></script>
    <script type="module" src="{% static 'pages/index/js/index.js' %}"></script>
    <script type="module" src="{% static 'pages/index/pong/index.js' %}"></script>
    <script type="module" src="{% static 'pages/index/pong/pong.js' %}"></script>
    <script src="{% static 'pages/index/js/hover.js' %}" defer></script>
    <script src="{% static 'pages/index/js/hover.js' %}" defer></script>

    {% comment %} <script src="{% static 'pages/index/js/hover.js' %}"></script> {% endcomment %}


    <div class="navbar">
      <a href="/"   class="navbar-content" id="logo" data-link><img class=" navbar-logo" src="{% static 'pages/Group.svg' %}" alt="Logo"></a>
      <a href="/" class="navbar-content" id="home" data-link>HOME</a>
      <a href="/register/" class="navbar-content" id="user" data-link>REGISTER</a>
    </div>

    <div class="index-page-layout">
        <div class="index-main-container">
            <div class="index-game-titles-container" >
                {% comment %} <a href="{% url 'base-home' %}" class="index-game-title index-pong" data-link><img src="{% static 'pages/PONG.svg' %}" alt="PONG"></a> {% endcomment %}
                {% comment %} <a href="{% url 'base-home' %}" class="index-game-title index-sudoku" data-link><img src="{% static 'pages/SUDOKU.svg' %}" alt="SODUKU"></a> {% endcomment %}
                <a href="/pong/" class="index-game-title index-pong" data-link>PONG</a>
                <a href="{% url 'base-home' %}" class="index-game-title index-sudoku" data-link>SUDOKU</a>
            </div>
            <div class="index-game-title">
                <img class="index-logo" src="{% static 'pages/Group.svg' %}" alt="Logo">
            </div>
        </div>
    </div>

{% endblock content %}
