{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <link href="{% static 'pages/Group.svg' %}" rel="shortcut icon" type="image/svg"/>

    {% comment %} <link rel="stylesheet" type="text/css" href="https://localhost:8083/auth/static/pages/pages_auth.css"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="https://localhost:8083/auth/static/pages/pages_auth.css?request_by=Home">
</head>
      {% block content %}
      {% endblock %}
</html>