{%extends "base.html" %}
{% load static %}
{% block content %}



<div class="navbar">
    <a href="/"   class="navbar-content" id="logo" data-link><img class=" navbar-logo" src="{% static 'pages/Group.svg' %}" alt="Logo"></a>
    <a href="/" class="navbar-content" id="home" data-link>HOME</a>
    <a href="/register/" class="navbar-content" id="user" data-link>REGISTER</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form method="POST" class="form-profile">
                {% csrf_token %}
                {{ formAvatar.avatar }}
                
                {{ formUsername.username }}

                <div class="profile-error-container error-container">
                    <div class="profile-error error"></div>
                </div>
                <button type="submit" class="btn-profile">Save Changes</button>
            </form>
            </div>

            <div class="col-sm">
                heyt
            </div>


            <div class="col-sm">
              hey  
            </div>


            <div class="col-sm">
                hey
            </div> 
        </div>
    </div>
</div>



{% endblock content %}
