{%extends "base.html" %}
{% load tz %}
{% load static %}
{% block content %}


<body style="background-color: #62BBC1;">
    <div class="navbar">
        <a href="/"   class="navbar-content" id="logo" data-link><img class=" navbar-logo" src="{% static 'pages/Group.svg' %}" alt="Logo"></a>
        <a href="/" class="navbar-content navbar-home" id="home" data-link>HOME</a>
        <a href="/register/" class="navbar-content navbar-user" id="user" data-link>REGISTER</a>
    </div>

    <!-- Friend Form Request -->
    <div class="popup" id="simple-popup">
        <form method="POST" class="form-friend-profile" id="friend-request-code">
            {% csrf_token %}
            <div class="friend-code">
                <div>
                    <label class="friend-label">Send following code to friend:</label>
                </div>
                <label id="uuid" class="friend-label">{{ user.uuid }}</label>
                {{ formSendFriend.to_user }}
                <button type="submit" class="btn-send-friend btn btn-login" id="friend-form">Submit</button>
            </div>
        </form>
    </div>

    <!-- QR CODE -->
    <div class="popup" id="simple-popup">
        <form method="POST" class="form-verification-profile" id="qr-code">
            {% csrf_token %}
            <img src="data:image/png;base64,{{ qr_code_base64 }}" alt="QR Code">
            <div class="checkbox-container">
                {{ formApp.app }}
                <label class="qr-code-label">I have scanned the QR code using an appropriate authenticatior application</label>
            </div>
            <button type="submit" class="btn-qr-code btn btn-login" id="verification-form-validation">Submit</button>
        </form>
    </div>

    <!-- PHONE NUMBER FILED -->
    <div class="popup" id="simple-popup">

        <form method="POST" class="form-verification-profile" id="sms-code">
            {% csrf_token %}
                    <span class="input-span-sms input-group-text">+33
                        {{ formSMS.phone_number}}
                    </span>
                    {% for error in field.errors%}
                        <div class="row">
                            <div class="small-12 columns val-error-msg error margin-below">
                                {{ error }}
                            </div>
                        </div>
                {% endfor %}
            <button type="submit" class=" btn btn-login" id="verification-form-validation">Submit</button>
        </form>
    </div>


    <!-- EMAIL NUMBER FILED -->
    <div class="popup" id="simple-popup">
        <form method="POST" class="form-verification-profile" id="email-code">
            {% csrf_token %}
                    {{ formEmail.email}}
                    {% for error in field.errors%}
                        <div class="row">
                            <div class="small-12 columns val-error-msg error margin-below">
                                {{ error }}
                            </div>
                        </div>
                    {% endfor %}
            <button type="submit" class="btn btn-login" id="verification-form-validation">Submit</button>
        </form>
    </div>

    <!-- FINAL VERIFICATION FIELD -->

    <div class="popup">
        <form method="POST" class="form-verification-profile" id="profile-otp-code">
            {% csrf_token %}
                {% for field in formOTP %}
                    {{field}}
                    {% for error in field.errors%}
                        <div class="row">
                            <div class="small-12 columns val-error-msg error margin-below">
                                {{ error }}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="error-container">
                    <div id="countdown">The code will be valid for 30s after which you will need to ask for another.</div>
                    <div class="error"></div>
                </div>
            <button type="submit" class="btn btn-login">Submit</button>
            <button style="visibility:hidden;" type="submit" class="code-btn">Resend Code</button>
        </form>
    </div>


    <!-- VISIBLE PAGE -->

    <div class="container-fluid" id="click-off">
        <div class="row">
            <div class="col-sm">
                <form method="POST" class="form-profile">
                    <div style="display: flex;">
                        <img src="/auth{{ user.avatar.url }}?request_by=Home" alt="User Avatar" class="avatar">
                        
                        {% csrf_token %}
                        {{ formAvatar.avatar }}
                        
                        <div>

                            <div class="profile-username">
                                <div class="profile-label-username">
                                    {{ formUsername.username.label_tag }}
                                </div>
                                {{ formUsername.username }}
                            </div>
                            
                            <div class="profile-error-container error-container">
                                <div class="profile-error error"></div>
                            </div>
                        </div>
                    </div>
                            <button id="btn-profile-update" type="submit" class="btn-profile">Save Changes</button>
                    <div class="add-2fa">
                        Add 2 factor authentication
                        <div style="display: flex;width: 100%">
                            <div style="visibility:hidden;" class="btn-verifi left-right-trapezoid" id="setup-email">Email</div>
                            <div style="visibility:hidden;" class="btn-verifi paralelogram" id="setup-sms">SMS</div>
                            
                            <div class="btn-verifi right-right-trapezoid" id="setup-app">APP</div>
                        </div>
                    </div>
                </form>
                
                
                
            </div>

            {% timezone "Europe/Paris" %}
            <div class="col-sm-4">
                <div class="scroll-match-history">
                    {% if games %}
                        {% for item in games %}
                            {% if item.game_type == "pong" %}
                            <div class="match-history-card match-history-card-pong">
                                <img class="match-game-type-pong" src="{% static 'pages/Group.svg' %}" alt="Pong">
                            {% else %}
                            <div class="match-history-card match-history-card-sudoku">
                                <img class="" src="{% static 'pages/sudoku.svg' %}" alt="Pong">
                            {% endif %}
                            <div class="match-information">
                                <div class="match-player-info">
                                    {% if user == item.winner %}
                                    <div class="match-users">{{item.winner}} vs {{item.loser}}</div>
                                    <div class="match-score">{{item.score_winner}} / {{item.score_loser}}</div>
                                    {% else %}
                                    <div class="match-users">{{item.loser}} vs {{item.winner}}</div>
                                    <div class="match-score">{{item.score_loser}} / {{item.score_winner}}</div>
                                    {% endif %}
                                    <div class="match-score">{{item.created_at|date:"m/d/y - H:i" }}</div>
                                </div>
                                <div class="match-status-card">
                                    {% if item.winner == user %}
                                    <div class="match-history-win">WIN</div>
                                    {% else %}
                                    <div class="match-history-loss">LOSS</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="match-history-card">No match history yet.</div>
                    {% endif %}
                </div>
            </div>
            {% endtimezone %}

            
            <div class="col-sm">
                <div class="stats-card">
                    <div class="stats">
                        <div>Games played:</div>
                        <div>{{stats.0.games_played}}</div>
                    </div>
                    <div class="stats">
                        <div>Won: </div>
                        <div>{{stats.0.games_won}}</div>
                    </div>
                    <div class="stats">
                        <div>Lost: </div>
                        <div>{{stats.0.games_lost}}</div>
                    </div>
                    <div class="stats">
                        <div>Ratio: </div>
                        <div>{{stats.0.win_ratio|floatformat:2}}</div>
                    </div>
                    <div class="stats">
                        <div>Greatest Rival: </div>
                    {% if stats.0.rival.user %}
                    </div>

                    <form class="friend-card">
                        <img src="/auth{{ stats.0.rival.user.avatar.url }}?request_by=Home" alt="{{ stats.0.rival.user.user.username }}'s avatar" class="friend-avatar" />
                        <div style="width:100%">
                            <div class="d-flex justify-content-between">
                                <div class="friend-username">{{ stats.0.rival.user }}</div>
                                <div class="d-flex">                                 
                                    {% if stats.0.rival.is_logged_in %}
                                        <div class="me-1 friend-username  green-online">Online</div>
                                        <div class="ms-1 dot green-background"></div>
                                    {% else %}
                                        <div class="friend-username red-offline">Offline</div>
                                        <div class="dot red-background"></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="friend-request-buttons">
                                <button id="fight" type="submit" value="{{stats.0.rival.user.id}}" class="btn-stats btn-friend-request btn-login">Challenge</button>
                                <!-- <button id="unfriend" type="submit" value="{{stats.0.rival.user.id}}" class="btn-friend-request btn-login">Unfriend</button> -->
                            </div>
                        </div>
                    </form>
                    {% else %}
                        <div>No Rivals</div>
                    </div>
                    {% endif %}

                </div>
            </div>
            
            
            <div class="col-sm">
                <div class="add-2fa">Friend List</div>
                {% if friends %}

                {% for item in friends %}
                <div class="friends friend-request-scroll">
                    
                    
                    <form class="friend-card">
                        <img src="/auth{{ item.friend.avatar.url }}?request_by=Home" alt="{{ item.friend.from_user.user.username }}'s avatar" class="friend-avatar" />
                        <div style="width:100%">
                            <div class="d-flex justify-content-between">
                                <div class="friend-username">{{ item.friend }}</div>
                                <div class="d-flex">                                 
                                    {% if item.is_logged_in %}
                                        <div class="me-1 friend-username  green-online">Online</div>
                                        <div class="ms-1 dot green-background"></div>
                                    {% else %}
                                        <div class="friend-username red-offline">Offline</div>
                                        <div class="dot red-background"></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="friend-request-buttons">
                                <button id="fight" type="submit" value="{{item.friend.id}}" class="btn-friend-request btn-login">Challenge</button>
                                <button id="unfriend" type="submit" value="{{item.friend.id}}" class="btn-friend-request btn-login">Unfriend</button>
                            </div>
                        </div>
                    </form>
                </div>
                {% endfor %}
                
                {% else %}
                    <div class="loser-no-friends">No Friends :(</div>
                {% endif %}


                <!-- FRIEND REQUEST -->
                
                
                <div class="add-2fa">Friend Request</div>
                {% if friend_requests %}
                <div class="friend-requests friend-request-scroll">
                    
                    {% for item in friend_requests %}
                    <form class="friend-card">
                        <!-- <div style="width:150px;height:150px;line-height:3em;overflow:scroll;padding:5px;"> -->
                            <div style="width:100%">
                                <div class="friend-username">{{ item.from_user.user.username }}</div>
                                <div class="friend-request-buttons">
                                    <button id="reject" type="submit" value="{{item.from_user.user.id}}" class="btn-friend-request btn-login">Delete</button>
                                    <button id="accept" type="submit" value="{{item.from_user.user.id}}" class="btn-friend-request btn-login">Accept</button>
                                </div>
                            </div>
                            <img src="https://{{ DNS }}:8083/auth{{ item.from_user.avatar }}?request_by=Home" alt="{{ item.from_user.user.username }}'s avatar" class="friend-avatar" />
                        <!-- </div> -->
                    </form>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="btn-profile" id="friend-request">Send Friend Request</div>
            </div> 
        </div>
    </div>
</body>


{% endblock content %}
