<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pong game</title>
	<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/x-icon" href="{% static 'svg/pong.svg'%}">
</head>
<body>
	<!-- <h1>PONG</h1> -->
	<canvas id="canvas"></canvas>
	<h1 id="player1Score">0</h1>
	<h1 id="player2Score">0</h1>
	<h1 id="player1Name">{{ ply.0.username }}</h1>
	<h1 id="player2Name">{{ ply.1.username }}</h1>
	<button id="button" onclick="startGame()">Start Game</button>
	<script src="{% static 'js/script.js'%}" defer></script>
</body>
</html>
