.navbar {
    width: 94vw;
<<<<<<< HEAD
    /* padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh; */
=======
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh;
>>>>>>> 43a047f (ajusted speeds)
    display: flex;
    justify-content: space-between;
}

<<<<<<< HEAD
a .navbar{
    color: #131112;
    cursor: pointer;
    text-decoration: none;
}


.navbar-content {
    font-family: Oswald;
    font-size: 2.5vw;
}


.navbar-logo {
    height: 3vw;
=======
.navbar-content {
    font-family: Oswald;
    font-size: 2.5vw;
>>>>>>> 43a047f (ajusted speeds)
}