.index-body-profile {
    background-color: #FFFBFC;
    color: #131112;
    overflow: hidden;
    font-family: Oswald;
    margin: 0;
    padding: 0;
}

    
.title-profile-half {
    background-color: #FFB140;
    width: 50%;
    height: 100vh;
    float:left;
    display: flex;
    /* justify-content: center; */
}

.title-profile {
    font-family: Oswald;
    font-weight: 400;
    /* margin: -15vh -2vw; */
    /* align-self: end; */
    align-content: center;
    font-size: 17em;
    padding: 2vw;
    margin-left: 3vw;
}

.register-profile {
    position: absolute;
    bottom: 2vh;
    left: 5vw;
}

.form-profile-half {
    background-color: #FFFBFC;
    width:50%;
    height: 100vh;
    float:left;
}

.form-profile:focus {
    border: none;
}

.form-profile {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

.form-control {
    margin: 2vh;
    PADDING: 1.5vh;
    padding-left: 2vh;
    border-radius: 12px;
    border: none;
    background-color: #D9D9D9;
    width: 35vw;
    align-self: center;
    font: 1.3rem oswald;
}

.form-control::placeholder {
    color: #b7b9bd;
}

.form-control:focus {
    border: none;
    outline: none;
}


.code-btn {
    background-color: #2E2C2F;
    color: #FFFBFC;
    margin-top: 2vh;
    align-self: center;
    width: 20vw;
    height: 8vh;
    border-radius: 12px;
    font: 2.3rem oswald;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
	margin: 1vw 0;
    font-size: inherit;
    line-height: inherit;
    width: fit-content;
}

.profile-error-container {
    width: max-content;
    align-self: auto;
    font: 1rem oswald;
	margin: 1vw;
    color: rgb(248, 51, 60, 70%);
}

.profile-error {
    height: 2.6vh;
    width: max-content;
}

.btn-profile {
	width: 100%;
    border-radius: 12px;
    font: 1.7rem oswald;
    text-align: center;

    color: #FFFBFC;
    border: unset;
    padding: 1vh 1vw;
    background-color: #2E2C2F;
}

.add-2fa {
    width: 100%;
    margin-top: 3vh;
    font: 1.3rem oswald;
    color: #2E2C2F;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.btn-verifi:hover {
    cursor: pointer;
}

.popup {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #FFFBFC;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.form-verification-profile {
    display: flex;
    padding: 10vw;
    padding-top: 15vh;
    align-content: flex-start;
    flex-direction: column;
}

#qr-code {
    display: none;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    padding: 3vw;
    max-width: min-content;
}

#sms-code {
    display: none;
}

#email-code {
    display: none;
}

#profile-otp-code {
    display: none;
}

.input-span-sms {
    border-radius: 12px;
    background: unset;
}

.phone_number_form {
    border: unset;
    width: 100%;
    margin: 1vh 1vw;
}

#click-off {
    height: 100vh;
}

.btn-qr-code {
    width: 100%;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.qr-code-label {
    margin-left: 5%;
    margin-bottom: 0;
    font-family: oswald;
}


.avatar-modify {
    position: absolute;
    left: 90px;
    top: 80px;
    background-color: #FFFBFC;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-username {
    PADDING: 0.5vh;
    padding-left: 2vh;
    font: 1.3rem oswald;    
}

.profile-label-username{
    font: 1rem oswald;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    height: 1.2rem;
    
}

.profile-username-field {
    border: unset;
    margin: 0;
    border-bottom: 2px solid #000;
    width: 110px;
    height: 30px;
}


.left-right-trapezoid {
    background-color: #2E2C2F;
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
    margin-right: -14px;
    border-radius: 12px 12px 0;
}


.right-right-trapezoid {
    background-color: #2E2C2F;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    margin-left: -14px;
    border-radius: 0px 12px 12px;
}

.paralelogram {
    background-color: #2E2C2F;
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
}


.btn-verifi {
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* background-color: #2E2C2F; */
    color: #FFFBFC;
    font: 1.3rem oswald;
    /* border-radius: 12px; */
    /* width: max-content; */
    /* margin-top: 1vh; */
    /* padding: 1vh 1vw; */
}

.form-friend-profile {
    display: none;
}

.friend-avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
}

.friend-card {
    display: flex;
    /* border: solid 1px; */
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 9px;
}

.friend-username {
    font-family: 'Oswald';
    align-self: center;
    margin-left: 10px;
    margin-right: 5px;
}

.btn-friend-request{
    font: 1rem oswald;
    padding: 4px;
    border: solid 1px;
    /* height: 20px;
    width: 20px; */
    margin: 2%;
    width: 45%;
    align-self: center;
    margin: 3px;
    border-radius: 3px;
}
#accept {
    color: #FFFBFC;
    background-color: #2E2C2F;
}

#reject {
    color: #2E2C2F;
    background-color: #FFFBFC;
    /* padding: 5px; */
}

.friend-request-buttons{
    width: 100%;
    display: flex;
}

.friend-requests {
    /* line-height:3em; */
    max-height: 40%;
    overflow:auto;
    direction: rtl;
    /* padding:5px; */
}

.friend-request-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: unset ;
    margin-top: 22px;
    margin-bottom: 22px;
}

.friend-request-scroll::-webkit-scrollbar
{
	width: 9px;
	/* background-color: #F5F5F5; */
}

.friend-request-scroll::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: #2E2C2F;
}

.friend-code {
    margin: 5px;
    padding: 3vw;
}

.btn-send-friend{
    width: 100%;
}

#uuid {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.form-friend {
    margin-top: 5vh;
}

.friend-label {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 0;
    font-family: oswald;
}

#fight {
    color: #FFFBFC;
    background-color: #2E2C2F;
}

#unfriend {
    color: #2E2C2F;
    background-color: #FFFBFC;
}

.friends {
    /* line-height:3em; */
    max-height: 70%;
    overflow:auto;
    /* padding:5px; */
}

#friend-request {
    margin-top: 1rem;
}

.loser-no-friends {
    text-align: center;
    font-family: 'OSWALD';
    font-weight: 300;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    align-self: center;
}

.green-background {
    background-color: #53917E;
}

.red-background {
    background-color: #F08080;
}

.green-online {
    color:#53917E;
    font-size: 0.8rem;
}

.red-offline {
    color: #F08080;
    font-size: 0.8rem;
}

.match-history-card {
    display: flex;
}

.match-game-type-pong {
    height: 4.5vh;
}

.match-users {
    font: 1.4rem 'Oswald';
}

.match-history-card {
    background-color: #53917E;
    width: 100%;
    padding: 1.2vh;
    border-radius: 9px;
    margin: 1vh 0;
}

.match-information {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.match-history-win {
    /* padding: 0.5vh 0.7vw; */
    align-self: center;
    border-radius: 7px;
    color: #53917E;
    font: 1.8rem 'Oswald';
}


.match-history-loss {
    /* padding: 0.5vh 0.7vw; */
    align-self: center;
    border-radius: 7px;
    color: #F08080;
    font: 1.8rem 'Oswald';
}

.match-status-card{
    background: #FFFBFC;
    align-self: center;
    width: 3vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.match-score {
    font: 1rem 'Oswald';
    margin-left: 0.1vw;
}

.match-player-info {
    color:#FFFBFC;
    margin-left: 1vw;
}