.index-body {
    background-color: #62BBC1;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 2adb0d1 (🚧 feat: link homepage to login)
    color: #131112;
    overflow: hidden;
    width: 100vw;
    padding: 1vh 3vw;
    width: 94vw;
}

a {
    color: #131112;
    cursor: pointer;
    text-decoration: none;
<<<<<<< HEAD
=======
    overflow: hidden;
    width: 100vw;
    padding: 1vh 3vw;
>>>>>>> 8303d39 (🚧 feat: navbar prototype)
=======
>>>>>>> 2adb0d1 (🚧 feat: link homepage to login)
}

.index-game-title {
    font-family: Oswald;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 2adb0d1 (🚧 feat: link homepage to login)
    font-weight: 400;
    margin: -15vh -2vw;
    align-self: end;
    display: block;
    font-size: 2em;
}

.index-game-titles-container {
}

.index-page-layout {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 15vh;
}

.index-pong {
    transition: transform 0.3s ease, margin 0.3s ease;
    margin: -15vh -2vw;
}

.index-sudoku {
    transition: transform 0.3s ease, margin 0.3s ease; /* Smooth transition */
    /* transition: margin 0.3s ease; Smooth transition */
    margin: -15vh -2vw;
}

.scaled-sudoku {
    /* transition: transform 0.3s ease, margin 0.3s ease; Smooth transition */
    -webkit-transform: scale(1, 1.8); /* Safari and Chrome */
    -moz-transform: scale(1, 1.8); /* Firefox */
    -ms-transform: scale(1, 1.8); /* IE 9 */
    -o-transform: scale(1, 1.8); /* Opera */
    transform: scale(1, 1.8); /* Standard */
    margin-bottom: -4vh;
}

.shrunken-sudoku {
    /* transition: transform 0.3s ease, margin 0.3s ease; Smooth transition */
    -webkit-transform: scale(1, 0.2); /* Safari and Chrome */
    -moz-transform: scale(1, 0.2); /* Firefox */
    -ms-transform: scale(1, 0.2); /* IE 9 */
    -o-transform: scale(1, 0.2); /* Opera */
    transform: scale(1, 0.2); /* Standard */
}

.scaled-pong {
    /* transition: transform 0.3s ease, margin 0.3s ease; Smooth transition */
    -webkit-transform: scale(1, 1.8); /* Safari and Chrome */
    -moz-transform: scale(1, 1.8); /* Firefox */
    -ms-transform: scale(1, 1.8); /* IE 9 */
    -o-transform: scale(1, 1.8); /* Opera */
    transform: scale(1, 1.8); /* Standard */    
}

.shrunken-pong {
    /* transition: transform 0.3s ease, margin 0.3s ease; Smooth transition */
    -webkit-transform: scale(1, 0.2); /* Safari and Chrome */
    -moz-transform: scale(1, 0.2); /* Firefox */
    -ms-transform: scale(1, 0.2); /* IE 9 */
    -o-transform: scale(1, 0.2); /* Opera */
    transform: scale(1, 0.2); /* Standard */
    margin-bottom: -26vh;
}

.index-main-container {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin-bottom: 2vh;
}

.index-logo {
    height: 45vh;
    margin-bottom: 10vh;
    margin-right: 5vw;
}