<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pong game</title>
	{% comment %} <link href="{% static 'game/templates/style.css'%}" rel="stylesheet"> {% endcomment %}
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/x-icon" href="cat.svg">
</head>
<body>
	<!-- <h1>PONG</h1> -->
	<canvas id="canvas"></canvas>
	<h1 id="player1Score">0</h1>
	<h1 id="player2Score">0</h1>
	<h1 id="player1Name">Player1</h1>
	<h1 id="player2Name">Player2</h1>
	<h2></h2>
	{% comment %} <script src="script.js" defer></script> {% endcomment %}
</body>
</html>
