.index-body {
    background-color: #FFFBFC;
    color: #131112;
    overflow: hidden;
    font-family: Oswald;
    margin: 0;
    padding: 0;
}

.title-register-half {
    background-color: #F08080;
    width: 50%;
    height: 100vh;
    float:left;
    display: flex;
    /* justify-content: center; */
}

.title-register {
    font-family: Oswald;
    font-weight: 400;
    /* margin: -15vh -2vw; */
    /* align-self: end; */
    align-content: center;
    font-size: 17em;
    padding: 7vw;
}

.register-login {
    position: absolute;
    bottom: 2vh;
    left: 5vw;
}

.form-register-half {
    background-color: #FFFBFC;
    width:50%;
    height: 100vh;
    float:left;
}

.form-register {
    display: flex;
    padding: 10vw;
    align-content: flex-start;
    flex-direction: column;
}
